|const express = require('express');
|const bodyParser = require('body-parser');
|const { log } = require('api-base');
|const model = require('./src/model');
|
|app = express();
|
|app.use(bodyParser.json());
|app.use(bodyParser.urlencoded({ extended: true }));
|
|app.use(require('./src/router.js'));
|
|model.sync.then(
|    
|);
|
|app.use(function (err, req, res, next) {
|    resObj.desc += err.message;
|    res.status(500).send(resObj);
|});
|
|var port = #{port};
|var server = app.listen(port);
|server.on('listening', function () {
|    console.log('*****#{server}服务器 在端口【 %d 】监听*****', port);
|});
